* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(IMG_3399.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

.home-page {
  height: 100vh;
  width: 100%;
  /* background-color: greenyellow; */
}

.project-page {
  position: absolute;
  color: white;
  /* background-color: aquamarine; */
  height: 100vh;
  width: 100%;
}

.front-page-text {
  color: rgba(163, 153, 153, 0.664);
  font-family: 'Lato 300', 'Roboto', 'Arial', 'sans-serif';
  /* font-weight: bold; */
  font-size: 30px;
  text-rendering: optimizeLegibility;
  position: relative;
  /* display: flex; */
  float: right;
  /* background-color: blue; */
}
.quote-part-2 {
  float: right;
  /* background-color: red; */
}

.my-name {
  transform: translate(0, 100%);
  float: right;
  /* background-color: purple; */
}

/* .skills-resume {
  color: white;
  position: absolute;
} */
